<header id="site-header">
<h1 class="logo">Punyasloka.Space</h1>
<ul class="navigation-bar">
    <li class="navigation-bar-link"><a href="">Home</a></li>
    <li class="navigation-bar-link"><a href="">My Story</a></li>
    <li class="navigation-bar-link"><a href="">My Skills</a></li>
    <li class="navigation-bar-link"><a href="">Hire Me</a></li>
</ul>
<div class="hamburger-menu"><i class="fas fa-bars"></i></div></header>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
